<component name="ArtifactManager">
  <artifact type="war" name="spring_ioc_xml:war">
    <output-path>$PROJECT_DIR$/工具代码/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_ioc_xml</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_ioc_xml-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_ioc_xml:war exploded" />
    </root>
  </artifact>
</component>